@font-face {
  font-family: 'OpenSans';
  src:
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
  url('../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/Montserrat-Black.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}